<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myfunctionapp9961.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c8db49de-3a70-4ca9-b090-98fb94a63b28/resourceGroups/Functionappres/providers/Microsoft.Web/sites/MyFunctionApp9961</ResourceId>
    <UserName>$MyFunctionApp9961</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://myfunctionapp9961.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>